alabaster==0.7.12
altgraph==0.17.2
atomicwrites==1.4.0
attrs==21.4.0
Babel==2.10.1
certifi==2021.10.8
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
coverage==6.3.2
dill==0.3.4
docutils==0.17.1
donordrivepython==1.4.0
idna==3.3
imagesize==1.3.0
iniconfig==1.1.1
Jinja2==3.1.2
MarkupSafe==2.1.1
mypy==0.950
packaging==21.3
pluggy==1.0.0
pprintpp==0.4.0
py==1.11.0
Pygments==2.12.0
pyinstaller==5.0.1
pyparsing==3.0.8
PyQt5==5.15.2
pytest==7.1.2
pytz==2022.1
requests==2.27.1
rich==12.4.1
semver==2.9.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.5.0
toml==0.10.2
tomli==2.0.1
urllib3==1.26.9
wcwidth==0.2.5
xdgenvpy==2.3.5
zipp==3.8.0

setuptools~=62.1.0
